/* =======******====== Menu css start ======******====== */

#menu_part {

    .container {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 5px;
            height: 1px;
            width: 100%;
            background: #F67280;
        }

        .menu_logo {
            width: 150px;
        }

        .main_menu {
            line-height: 61px;

            ul {
                display: flex;
                justify-content: center;
                transition: all linear .3s;

                li {
                    margin: 10px;

                    a {
                        color: #040406;
                        font-size: 13px;
                        font-weight: 600;
                        font-family: 'Playfair Display', serif;
                        transition: all linear .3s;
                        position: relative;

                        &:after {
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: 13px;
                            width: 0;
                            height: 2px;
                            background: #F67280;
                            transition: all linear .4s;


                        }

                        &:hover {
                            color: #F67280;

                            &:after {
                                width: 100%;
                            }
                        }
                    }

                    .pages_dropdown {
                        position: relative;

                        ul {
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: -10px;
                            background: #fff;
                            width: 180px;
                            height: 180px;
                            text-align: center;
                            visibility: hidden;
                            opacity: 0;
                            z-index: 99;
                            -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
                            -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
                            box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);

                            li {
                                margin: -35px 0;
                                text-align: left;
                                margin-left: 10px;
                                margin-top: -20px;

                                a {
                                    color: #888;
                                    font-size: 12px;
                                    font-weight: 400;
                                    font-family: 'Playfair Display', serif;

                                    &:hover {
                                        color: #F67280;
                                        &::after {
                                            width: 0;
                                        }
                                    }
                                }

                               
                            }
                        }
                    }

                    &:hover{
                        ul{
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(15px);
                        }
                    }


                    .vandor_dropdown {
                        position: relative;

                        ul {
                          
                            width: 180px;
                            height: 70px;

                           
                        }
                    }
                }
            }
        }



        .search_ber {
            display: inline-block;
            position: relative;
            margin-top: 6px;
            line-height: 61px;

            input {
                width: 287px;
                height: 36px;
                border: 1px solid #888;
                text-align: center;
                margin-top: 8px;


            }

            button {
                position: absolute;
                background: transparent;
                border: 0;
                top: 40%;
                transform: translateY(-50%);
                right: 15px;
                font-size: 12px;
                color: #F67280;
                margin-top: 8px;

            }
        }

        .menu_right {
            line-height: 61px;

            ul {
                display: flex;
                justify-content: end;

                li {
                    margin: 12px 17px;

                    a {
                        color: #040406;
                        font-size: 13px;
                        font-weight: 500;
                        font-family: 'Playfair Display', serif;
                        transition: all linear .3s;

                        &:hover {
                            color: #F67280;
                        }

                        i {
                            font-size: 20px;
                            color: #F67280;
                        }
                    }
                }
            }
        }
    }
}

/* =======******====== Menu css start ======******====== */