/* =======******====== Service css start ======******====== */


#service {
    padding: 40px 0;

    .serv_cont {
        padding: 20px;
        border: 1px solid #f1f1f1;

        .icon_box {

            .icon_text {
                margin-top: -30px;
                margin-left: 40px;

                h4 {
                    color: #040406;
                    font-size: 13px;
                    font-weight: 700;
                    font-family: 'Playfair Display', serif;
                }
                p{
                    color: #666;
                    font-size: 13px;
                    font-weight: 400;
                    font-family: 'Playfair Display', serif;
                }
            }

            i {
                font-size: 25px;
                color: #F67280;
            }

            margin-top: 10px;
            margin-left: 37px;
        }
    }
}


/* =======******====== Service css start ======******====== */